### Data Explanation

Bank Prime Loan Rate Changes: Historical Dates of Changes and Rates (PRIME) - Daily, 1955-Jul 2023

Real Exports of Goods and Services (A020RL1Q158SBEA) - Quarterly, 1947-Jul 2023

Trimmed Mean PCE Inflation Rate (PCETRIM12M159SFRBDAL) -  Monthly, 1978-Oct 2023

Unemployment Rate (UNRATE) - Monthly 1948-Oct 2023

Real Gross Domestic Product (A191RL1Q225SBEA) - Quarterly 1947-Jul 2023 

Total Vehicle Sales (TOTALSA) - Monthly 1976-Oct 2023

NBER based Recession Indicators for the United States from the Period following the Peak through the Trough (USREC) - Monthly 1854-Nov 2023

Gross Domestic Product: Implicit Price Deflator (A191RI1Q225SBEA)

Velocity of M1 Money Stock (M1V) - Quarterly 1959-Jul 2023

New Privately-Owned Housing Units Started: Total Units (HOUST) - Monthly 1959-Oct 2023

Leading Indicators OECD: Leading indicators: CLI: Amplitude adjusted for OECD Total (OECDLOLITOAASTSAM) - Monthly 1961-Oct 2023 ***Use data from CSV

SPX - S&P 500 Adjusted closing price

USD - US Dollar Index for the international value of the US dollar relative to a basket of world currencies

fed_party- political party of Fed Chair (1=Republican)

potus_party - party of US President (1=Republican)

In [1]:
import pandas as pd

In [2]:
# properly read in data
df = pd.read_csv('master_data.csv', index_col=0)
df.index = pd.to_datetime(df.index)
df

,ffr,change,decision,loan,exports,pce,ue,rgdp,cars,recess,gdpg,veloc,house,cli,spx,usd,fed_party,potus_party
1989-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989-01-02,NaN,NaN,NaN,NaN,12.5,4.05,5.4,4.1,15.372,0.0,4.2,7.028,1621.0,100.53120,NaN,NaN,NaN,NaN
1989-01-03,NaN,NaN,NaN,NaN,12.5,4.05,5.4,4.1,15.372,0.0,4.2,7.028,1621.0,100.53120,NaN,92.500000,NaN,NaN
1989-01-04,NaN,NaN,NaN,NaN,12.5,4.05,5.4,4.1,15.372,0.0,4.2,7.028,1621.0,100.53120,275.309998,92.169998,NaN,NaN
1989-01-05,NaN,NaN,NaN,NaN,12.5,4.05,5.4,4.1,15.372,0.0,4.2,7.028,1621.0,100.53120,279.429993,92.980003,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-30,NaN,NaN,NaN,8.5,6.0,3.64,3.9,5.2,15.972,0.0,3.5,1.511,1372.0,99.47179,4550.580078,102.769997,1.0,0.0
2023-12-01,NaN,NaN,NaN,8.5,6.0,3.64,3.9,5.2,15.972,0.0,3.5,1.511,1372.0,99.47179,4567.799805,103.500000,1.0,0.0
2023-12-02,NaN,NaN,NaN,8.5,6.0,3.64,3.9,5.2,15.972,0.0,3.5,1.511,1372.0,99.47179,4594.629883,103.269997,1.0,0.0
2023-12-03,NaN,NaN,NaN,8.5,6.0,3.64,3.9,5.2,15.972,0.0,3.5,1.511,1372.0,99.47179,4594.629883,103.269997,1.0,0.0
2023-12-04,NaN,NaN,NaN,8.5,6.0,3.64,3.9,5.2,15.972,0.0,3.5,1.511,1372.0,99.47179,4594.629883,103.269997,1.0,0.0

In [3]:
# prep a df to be used for classifying
# n_days is how many days prior to the announcement you want to forecast
def forecast_n_days_prior(df, n_days = 7):
    df_temp = df.copy()
    df_temp.iloc[:,:3] = df_temp.iloc[:,:3].shift(-n_days)
    return df_temp.query('ffr == ffr')

In [4]:
# demonstration of function above
# forecasts 1 week prior to announcement
forecast_n_days_prior(df, 7)

,ffr,change,decision,loan,exports,pce,ue,rgdp,cars,recess,gdpg,veloc,house,cli,spx,usd,fed_party,potus_party
1989-06-30,9.25,-25.0,-1.0,11.00,18.7,4.13,5.3,3.1,14.384,0.0,4.3,7.233,1397.0,99.79815,319.679993,102.339996,1.0,1.0
1989-08-16,9.00,0.0,0.0,10.50,4.1,3.95,5.2,3.0,16.547,0.0,3.0,7.307,1332.0,99.68832,344.709991,100.989998,1.0,1.0
1989-09-27,9.00,0.0,0.0,10.50,4.1,3.80,5.3,3.0,15.660,0.0,3.0,7.307,1279.0,99.69093,344.329987,99.199997,1.0,1.0
1989-11-08,8.50,0.0,0.0,10.50,6.2,3.92,5.4,0.8,13.370,0.0,2.9,7.283,1351.0,99.72887,334.809998,98.120003,1.0,1.0
1989-12-13,8.25,-25.0,-1.0,10.50,6.2,3.94,5.4,0.8,13.550,0.0,2.9,7.283,1251.0,99.75903,351.730011,94.660004,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-26,5.15,25.0,1.0,8.00,-9.3,4.88,3.4,2.1,16.210,0.0,1.7,1.459,1348.0,98.89799,4071.629883,101.860001,1.0,0.0
2023-06-07,5.15,0.0,0.0,8.25,-9.3,4.33,3.6,2.1,16.607,0.0,1.7,1.459,1418.0,99.11828,4283.850098,104.129997,1.0,0.0
2023-07-19,5.40,25.0,1.0,8.25,6.0,4.17,3.5,5.2,16.446,0.0,3.5,1.511,1451.0,99.24326,4554.979980,99.940002,1.0,0.0
2023-09-13,5.40,0.0,0.0,8.50,6.0,3.84,3.8,5.2,16.184,0.0,3.5,1.511,1346.0,99.42249,4461.899902,104.709999,1.0,0.0
2023-10-25,5.40,0.0,0.0,8.50,6.0,3.64,3.9,5.2,15.972,0.0,3.5,1.511,1372.0,99.47179,4247.680176,106.269997,1.0,0.0